<div class="loader">
  <div class="loader__overlay"></div>
 <div class="loader__line-wrapper">
    <div class="loader__line"></div>
    <div class="loader__line"></div>
    <div class="loader__line"></div>
  </div>
  {#  <div class="loader__trains-wrapper">
    <div class="loader__train-wrapper">
      <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
      <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
      <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
            <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
      <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
      <div class="loader__train">
        {% include "partials/svg/_train.html" %}
      </div>
    </div>
  </div> #}

  <div class="loader__progress-bar"></div>
  <div class="loader__progress-percent">0%</div>
</div>