.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-top: 0;
  color: white;
  overflow-y: auto;
  height: calc(var(--vh) * 100);
  width: 100%;
  display: none;
  overflow: hidden;
}

.menu__overlay {
  position: absolute;
  z-index: 1;
  background: rgba($black, 0.7);
  height: 100%;
  width: 100%;
}

.menu__container {
  width: 100%;
  height: 100%;
}

.menu-items__wrapper {
  width: 46vw;
  background: $black;
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  padding-right: size(60, 20);
  padding-left: size(60, 20);
  display: flex;
  @include media('<=960px') {
    width: 100%;
  }
}

.menu__items {
  padding-top: size(180, 120);
  padding-bottom: size(76, 0);
  margin-left: size(40, 20);

}

.menu__item {
  font-size: 6.7vh;
  line-height: 1em;
  + .menu__item {
    margin-top: 4.5vh;
  }
}
.menu__link {
  &.hovered {
    color: $accent;
  }
  &.is-current {
    color: $accent;
    pointer-events: none;
  }
}

.menu__v-line {
  height: 100%;
  width: 1px;
  background: $accent;
}

.menu__v-line--after {
  position: absolute;
  top: 0;
  right: size(60, 20);
}

.menu__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.7vh; 
}

.menu__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: size(100, 40);
  padding-left: size(100, 40);
}

.menu__header-content-left {
  display: flex;
  align-items: center;
  svg {
    fill: white;
  }
}

.menu__dropdown-content {
  background: $lg;
  color: $black;
}

.menu__lang {
  margin-left: 30px;
  padding-top: size(10, 0);
}

.menu__line {
  height: 1px;
  width: 100%;
  background: $accent;
  margin-top: 3.7vh;
}

.menu__close {
  cursor: pointer;
  width: size(32, 25);
  svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: stroke .3s ease;
  }
  &:hover {
    svg {
      stroke: $accent !important;
    }
  }
}