{% set title = "About" %}
{% set route = "about" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}
  <header class="about-header">
    <div class="container about-header__container">
      <div class="about-header__content-wrapper">
        <div class="about-header__train transition-other">
          {% include "partials/svg/_train.html" %}
        </div>
        <h1 class="about-header__h1">Мы — КТЛ, компания-экспедитор в сфере грузовых железнодорожных перевозок</h1>
        <div class="about-header__line transition-line"></div>
      </div>
    </div>
    <div class="about-header__arrow">{% include "partials/svg/_down-arrow.html" %}</div>
  </header>
  <main>
    <div class="section default-section no-margin transition-other">
      <div class="container section__container no-margin__container">
        <div class="container__cols">
          <div class="container__l-col"></div>
          <div class="container__r-col">
            <div class="section__before-line"></div>
            <p class="section__text ">Решаем любые проблемы клиента, связанные с транспортировкой грузов в пределах территории Украины, а также при перевозке экспортно-импортных грузов.</p>
            <p class="section__text">Оказываем полное сопровождение любого процесса, связанного с грузовой ЖД-перевозкой: от сбора и оформления документов до продажи вагонов.</p>
            <div class="section__after-line"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="section list-section team">
      <div class="container section__container list-section__container">
        {{mixins.h2('Команда')}}
        <div class="list-section__list-items team__items">
          <div class="list-section__list-item a-item">
            <div class="list-section__line"></div>
            <div class="list-section__list-item-content">
              <div class="list-section__left">
                <div class="list-section__img">
                  <div class="list-section__img-pic team__img-pic pli" data-bg="../img/about/1.jpg"></div>
                </div>
                <div class="list-section__text">
                  <h3 class="h3 list-section__h">Коваленко Инна Витальевна</h3>
                  <p class="list-section__d a-p">Директор КТЛ</p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-section__list-item a-item">
            <div class="list-section__line"></div>
            <div class="list-section__list-item-content">
              <div class="list-section__left">
                <div class="list-section__img">
                  <div class="list-section__img-pic team__img-pic pli" data-bg="../img/about/2.jpg"></div>
                </div>
                <div class="list-section__text">
                  <h3 class="h3 list-section__h">Коваленко Инна Витальевна</h3>
                  <p class="list-section__d a-p">Директор КТЛ</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="transition-rails">
      <div class="transition-rails__items">
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
      </div>
    </div>
    <section class="section numbers-section dark-section">
      <div class="container section__container numbers-section__container">
        {{mixins.h2('КТЛ в цифрах', 'numbers-section__h2')}}
        <div class="numbers-section__items">
          <div class="numbers-section__item numbers-section__item--1 numbers-section__item--big a-titem">
            <div class="numbers-section__num">250к+</div>
            <div class="numbers-section__details">тонн перевозим ежемесячно</div>
          </div>
          <div class="numbers-section__item numbers-section__item--2 a-titem">
            <div class="numbers-section__num">2016</div>
            <div class="numbers-section__details">год основания</div>
          </div>
          <div class="numbers-section__item numbers-section__item--3 a-titem">
            <div class="numbers-section__num">30+</div>
            <div class="numbers-section__details">человек в команде</div>
          </div>
          <div class="numbers-section__item numbers-section__item--4 numbers-section__item--big a-titem">
            <div class="numbers-section__num">1500+</div>
            <div class="numbers-section__details">парк вагонов</div>
          </div>

          <div class="numbers-section__item numbers-section__item--5 a-titem">
            <div class="numbers-section__num">7+</div>
            <div class="numbers-section__details">постоянных клиентов</div>
          </div>
        </div>
      </div>
    </section>
    <section class="section default-section cooperation-section">
      <div class="container section__container default-section__container cooperation-section__container last">
        {{mixins.h2('Принципы сотрудничества', 'half-size-h2')}}
        <div class="container__cols">
          <div class="container__l-col">{{mixins.btn('Обсудить сотрудничество', '', 'a-btn c-btn a-sticky default-section__btn')}}</div>
          <div class="container__r-col">
            <p class="section__text a-p">Мы предлагаем комплексное решение задачи по транспортировке груза. </p>
            <p class="section__text a-p">Клиент рассказывает о своих целях, а мы подбираем оптимальный вариант в разрезе «цена-качество-надёжность».</p>
            <div class="default-section-img a-titem">
              <img src="./img/about/3.jpg" alt="KTL team">
            </div>
            <h3 class="h3 default-section__h3 a-titem">Если мы не можем решить задачу в необходимый Вам срок — говорим об этом сразу и помогаем найти альтернативные варианты.</h3>
            <div class="section__after-line a-line"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "partials/components/_footer.html" %}
{% endblock %}