{% set title = "Documents" %}
{% set route = "documents" %}

{% extends "layouts/_layout.html" %}

{% block content %}
  <main>
    <section class="section c-list">
      <div class="container section__container c-list__container">
        <div class="h2-wrapper">
          <div class="h2__line services-h2__line transition-line"></div>
          <h2 class="h2 services-h2">
            <span class="transition-span">Типовые договоры</span></h2>
          <div class="h2__line services-h2__line transition-line"></div>
        </div>
        <div class="c-list__items transition-other">
          <div class="c-list__line"></div>
          <a target='_blank' rel='noreferer noopener' href="https://emotion-agency.com/emotion-presentation.pdf" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Правила планирования перевозок грузов</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
          <a target='_blank' rel='noreferer noopener' href="https://emotion-agency.com/emotion-presentation.doc" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Правила приема грузов к перевозкев</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
          <a target='_blank' rel='noreferer noopener' href="https://emotion-agency.com/emotion-presentation.xlsc" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Правила пломбирования вагонов и контейнеров</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
        </div>
      </div>
    </section>
    <section class="section c-list">
      <div class="container section__container c-list__container last">
        <div class="h2-wrapper">
          <div class="h2__line services-h2__line "></div>
          <h2 class="h2 services-h2">Справочники</h2>
          <div class="h2__line services-h2__line"></div>
        </div>
        <div class="c-list__items">
          <div class="c-list__line"></div>
          <a href="#" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Список ЖД-станций</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
          <a href="#" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Проверка номера вагона</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
          <a href="#" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">Коды ЕТСНГ</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
        </div>
      </div>
    </section>
    <section class="section c-list accordeon-section">
      <div class="container section__container c-list__container accordeon-section__container last">
        <div class="h2-wrapper">
          <div class="h2__line services-h2__line"></div>
          <h2 class="h2 services-h2">Отчётность</h2>
          <div class="h2__line services-h2__line"></div>
        </div>
        <div class="c-list__items accordeon-section__items">
          <div class="accordeon-section__line"></div>
          <div class="c-list__item accordeon-section__item" data-icon="dd">
            <div class="c-list__overlay accordeon-section__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">2020</h4>
                <div class="accordeon-section__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="accordeon-section__text">
              <div class="c-list__items c-list__items--nm">
                <div class="c-list__line"></div>
                <a href="https://emotion-agency.com/emotion-presentation.pdf" class="c-list__item c-list__item--small">
                  <div class="c-list__overlay"></div>
                  <div class="container__cols c-list__cols">
                    <div class="container__l-col c-list__l-col">
                      <div class="c-list__left-item c-list__left-item--small">
                        <div class="doc-icon" data-src="./img/docicons/"></div>
                      </div>
                    </div>
                    <div class="container__r-col c-list__r-col">
                      <h4 class="h4 c-list__h4 c-list__h4--small">Список ЖД-станций</h4>
                    </div>
                  </div>
                </a>
                <a href="#" class="c-list__item c-list__item--small">
                  <div class="c-list__overlay"></div>
                  <div class="container__cols c-list__cols">
                    <div class="container__l-col c-list__l-col">
                      <div class="c-list__left-item c-list__left-item--small">
                        <div class="doc-icon" data-src="./img/docicons/"></div>
                      </div>
                    </div>
                    <div class="container__r-col c-list__r-col">
                      <h4 class="h4 c-list__h4 c-list__h4--small">Список ЖД-станций</h4>
                    </div>
                  </div>
                </a>
                <a href="#" class="c-list__item c-list__item--small">
                  <div class="c-list__overlay"></div>
                  <div class="container__cols c-list__cols">
                    <div class="container__l-col c-list__l-col">
                      <div class="c-list__left-item c-list__left-item--small">
                        <div class="doc-icon" data-src="./img/docicons/"></div>
                      </div>
                    </div>
                    <div class="container__r-col c-list__r-col">
                      <h4 class="h4 c-list__h4 c-list__h4--small">Список ЖД-станций</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="accordeon-section__line"></div>
          </div>
          <a href="#" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">2019</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
          <a href="#" class="c-list__item">
            <div class="c-list__overlay"></div>
            <div class="container__cols c-list__cols">
              <div class="container__l-col c-list__l-col">
                <div class="c-list__left-item">
                  <div class="doc-icon" data-src="./img/docicons/"></div>
                </div>
              </div>
              <div class="container__r-col c-list__r-col">
                <h4 class="h4 c-list__h4">2018</h4>
                <div class="c-list__arrow">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </div>
            <div class="c-list__line"></div>
          </a>
        </div>
      </div>
    </section>
  </main>
  {% include "partials/components/_footer.html" %}
{% endblock %}