{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  <header class="main-header">
    <div class="container main-header__container">
      <div class="main-header__content">
        <div class="main-header__top">
          <span class="main-header__scroller">
            <span class='transition-span'>Kargo</span></span>
          <h1 data-move="main-header__m-h1-wrapper,1,560" class="main-header__h1 scroller-parallax transition-text">Грузовые ЖД-перевозки. Быстро. Надёжно. Без сложностей.</h1>
        </div>
        <div class="main-header__bottom">
          <span class="main-header__scroller">
            <span class='transition-span'>TransLogistic</span></span></div>
      </div>
      <div class="main-header__line-wrapper">
        <div class="main-header__train transition-other">
          {% include "partials/svg/_train.html" %}
        </div>
        <div class="main-header__line transition-line"></div>
        <div class="main-header__line transition-line"></div>
        <div class="main-header__line transition-line"></div>
      </div>
      <div class="main-header__m-h1-wrapper"></div>
    </div>
    <div class="main-header__arrow">{% include "partials/svg/_down-arrow.html" %}</div>
  </header>
  <main>

    <section class="section default-section">
      <div class="container section__container default-section__container">
        {{mixins.h2('Мы перевозим любые грузы ЖД-транспортом', 'half-size-h2')}}
        <div class="container__cols">
          <div class="container__l-col">
            <a href="./about.html" class="btn a-btn a-sticky default-section__btn">
              <div class="btn__text-wrapper">
                {% for i in range(0, 4) -%}
                  <span class="btn__text">Больше о компании</span>
                {% endfor %}
              </div>
              <div class="btn__overlay"></div>
            </a>
          </div>
          <div class="container__r-col">
            <p class="section__text a-p">КАРГОТРАНСЛОДЖИСТИК — компания-экспедитор в сфере грузовых железнодорожных перевозок. Предоставляем полный комплекс услуг с информационным сопровождением: от организации перевозок до ремонта и продажи вагонов.</p>
            <p class="section__text a-p">Помогаем компаниям быстро, надёжно и без проблем доставить груз из точки А в точку Б. Сопровождаем любой процесс, связанный с грузовыми ЖД-перевозками.</p>
            <div class="section__after-line a-line"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="full-screen-img">
      <div class="full-screen-img__img-wrapper">
        <div class="full-screen-img__img pli" data-bg="./img/1.jpg"></div>
      </div>
    </div>
    <section class="section list-section">
      <div class="container section__container list-section__container">
        <h2 class="h2 a-h2">Услуги</h2>
        <div class="list-section__list-items">
          {% for item in items.services %}
            <a href="{{item.link}}" class="list-section__list-item a-item">
              <div class="list-section__line"></div>
              <div class="list-section__overlay"></div>
              <div class="list-section__list-item-content">
                <div class="list-section__left">
                  <div class="list-section__img">
                    <div class="list-section__img-pic pli" data-bg="{{item.img}}"></div>
                  </div>
                  <div class="list-section__text">
                    <h3 class="h3 list-section__h">{{item.heading}}</h3>
                    <p class="list-section__d a-p">{{item.desc}}</p>
                  </div>
                </div>
                <div class="list-section__right">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
    <div class="transition-rails">
      <div class="transition-rails__items">
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
      </div>
    </div>
    <section class="section v-list-section dark-section">
      <div class="container section__container v-list-section__container">
        {{mixins.h2('Преимущества', 'v-list-section__h2-arrow')}}
        <div class="container__cols">
          <div class="container__l-col">
            <p class="section__bold-text a-p a-sticky">Мы берём на себя ответственность доставить ваш груз точно в срок. Работаем круглосуточно, 365 дней в году.</p>
          </div>
          <div class="container__r-col">
            <div class="v-list-section__items">
              {% for item in items.advantages %}
                <div class="v-list-section__item a-item">
                  <h4 class="h4 v-list-section__h">{{item.heading}}</h4>
                  <div class="v-list-section__line"></div>
                  <p class="v-list-section__text a-p">{{item.desc}}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section default-section review-section">
      <div class="container section__container">
        {{mixins.h2('Наши партнёры — промышленные предприятия, торговые компании и другие виды бизнеса.')}}
        <div class="container__cols">
          <div class="container__l-col">
            <p class="section__bold-text a-p a-sticky">Гарантия вывоза груза — залог успеха долгосрочных партнерских отношений.</p>
          </div>
          <div class="container__r-col">
            <a href="#" class="default-section__review review">
              <div class="review__overlay"></div>
              <div class="review__top">
                <div class="review__left">
                  <div class="review__logo a-p">
                    <img class="pli" src="./img/clients/1.png" alt="clients__logo">
                  </div>
                  <div class="review__info">
                    <h3 class="h3 review__name a-p">Ринат Ахметов</h3>
                    <div class="review__company a-p">ООО МЕТИНВЕСТ</div>
                  </div>
                </div>
                <div class="review__right">{% include "partials/svg/_arrow.html" %}</div>
              </div>
              <div class="review__bottom">
                <div class="review__quote a-p">«Перевозка грузов железнодорожным транспортом — это один из наиболее эффективных, безопасных и экономически выгодных видов перевозок грузов для сухопутного сообщения».</div>
              </div>
            </a>
            <div class="section__after-line a-line"></div>
          </div>
        </div>
      </div>
    </section>
    {% include "partials/components/_form.html" %}
  </main>
  {% include "partials/components/_footer.html" %}
{% endblock %}