.main-header {
  height: calc(var(--vh, 1vh) * 100);
  // height: 100vh;
  margin: 0;
  width: 100%;
  background-color: white;
  position: relative;
}

.main-header__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.main-header__content {
  width: 100%;
}

.main-header__top,
.main-header__bottom {
  font-size: size(238, 54);
  @media screen and (max-height: 760px) {
    font-size: size(150, 54);
  }
}

.main-header__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-header__h1 {
  font-size: size(36, 16);
  @include reg;
  position: relative;
  width: size(571, 253);
  color: rgba($black, 0.8);
  line-height: 1.3em;
}

.main-header__line-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header__line {
  width: 100%;
  height: 1px;
  background-color: $accent;
}

.main-header__train {
  position: absolute;
  top: size(-75, -29);
  left: 50%;
  transform: translateX(-50%);
  height: size(77, 30);
  width: 100%;
  svg {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.main-header__scroller {
  display: inline-block;
  line-height: 1.22em;
  overflow: hidden;
  span {
    display: inline-block;
    line-height: 1em;
  }
}

.main-header__arrow {
  display: none;
  @include media('<=460px') {
    position: absolute;
    z-index: 100;
    display: block;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-header__m-h1-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 25%;
  left: 0;
}

.half-size-h2 {
  width: size(1163, 335);
  @include media('<=1210px') {
    width: 100%;
  }
}

.default-section__container {
  padding-top: size(64, 100);
  @include media('<=#{$br1}') {
    .container__cols {
      flex-direction: column-reverse;
    }
  }
}
.default-section {
  .container__r-col {
    > p {
      &:first-child {
        &::first-line {
          text-indent: size(248, 0);
          @include media('<=375px') {
            text-indent: 0;
          }
        }
      }
    }
    > .section__before-line ~ p {
      &:nth-child(2) {
        &::first-line {
          text-indent: size(248, 0);
          @include media('<=375px') {
            text-indent: 0;
          }
        }
      }
    }
  }
}

.default-section__btn {
  @include media('<=#{$br1}') {
    margin-top: 48px;
  }
}

.default-section-img {
  margin-top: size(72, 36);
  img {
    max-width: 100%;
    display: block;
  }
}

.default-section__h3 {
  margin-top: size(72, 48);
    &::first-line {
      text-indent: size(248, 0);
      @include media('<=375px') {
        text-indent: 0;
      }
  }
}

.section__after-line {
  width: 100%;
  height: 1px;
  background-color: $accent;
  margin-top: size(72, 24);
}

.full-screen-img {
  margin-top: size(200, 100);
  height: 100vh;
  overflow: hidden;
  width: 100%;
  @include media('<=460px') {
    height: 60vw;
  }
}

.full-screen-img__img-wrapper {
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-img__img {
  width: 100%;
  height: 100%;
  @include cover;
}

.list-section__list-items {
  width: 100%;
  margin-top: size(72, 28);
}
.list-section__list-item {
  padding-bottom: 70px;
  position: relative;
  display: block;
  &:hover {
    .list-section__overlay {
      height: 100%;
    }
    // .list-section__right {
    //   svg {
    //     animation: arrow 0.55s cubic-bezier(.4,0,0,1);
    //   }
    // }
    .list-section__img-pic {
      transform: scale(1.05);
    }
  }
  @include media('<=#{$br1}') {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
}
.list-section__line {
  width: 100%;
  height: 1px;
  background-color: $accent;
  @include media('<=#{$br1}') {
    order: 3;
    margin-top: 70px;
  }
}
.list-section__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  height: 0%;
  transition: height 0.8s $easing;
  background-color: rgba($accent, 0.2);
}
.list-section__list-item-content {
  margin-top: 26px;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  @include media('<=#{$br1}') {
    margin-top: 20px;
    position: static;
  }
}
.list-section__left {
  display: flex;
  width: 83%;
  justify-content: space-between;
  height: 100%;
  @include media('<=#{$br1}') {
    width: 100%;
    flex-direction: column;
  }
}
.list-section__img {
  flex: 37.7%;
  margin-right: 28px;
  height: fit-content;
  overflow: hidden;
  @include media('<=#{$br1}') {
    margin-right: 0px;
  }
}
.list-section__img-pic {
  width: 100%;
  display: block;
  min-height: 254px;
  @include cover;
  transition: transform 0.8s $easing;
}
.list-section__text {
  flex: 62.3%;
  @include media('<=#{$br1}') {
    flex: 100%;
    margin-top: 17px;
  }
}
.list-section__d {
  margin-top: 28px;
}

.list-section__right {
  width: size(51, 24);
  svg {
    max-width: 100%;
  }
  @include media('<=#{$br1}') {
    display: none;
  }
}

.list-section__date {
  display: block;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  line-height: 1em;
  @include media('<=#{$br1}') {
    bottom: 10px;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.dark-section {
  position: relative;
}

.v-list-section {
  margin-top: size(100, 50);
  @include media('>=#{$br1}') {
    .v-list-section__h2-arrow {
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

.v-list-section__container {
  padding-top: size(148, 52);
  padding-bottom: size(50, 25);
  .container__cols {
    margin-top: size(108, 00);
  }
}

.v-list-section__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.v-list-section__item {
  width: 100%;
  @include media('<=1160px') {
    + .v-list-section__item {
      margin-top: 50px;
    }
  }
  @include media('>=1160px') {
    width: calc((100% / 2) - (120px / 2));
    margin-right: 120px;
    margin-bottom: 116px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
.v-list-section__h {
  color: $dg;
}
.v-list-section__line {
  width: 100%;
  height: 1px;
  background-color: $accent;
  margin-top: 16px;
}
.v-list-section__text {
  margin-top: size(36, 28);
}

.review-section {
  .container__cols {
    overflow: hidden;
  }
  .container__r-col {
    position: relative;
  }
}

.review {
  width: 100%;
  display: block;
  &:hover {
    .review__overlay {
      height: 120%;
    }
  }
}
.review__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.review__left {
  display: flex;
  align-items: flex-start;
}

.review__right {
  @include media('<=960px') {
    display: none;
  }
}

.review__logo {
  max-width: size(128, 40);
  display: block;
  img {
    display: block;
    width: 100%;
  }
}
.review__info {
  margin-left: size(68, 16);
}
.review__company {
  text-transform: uppercase;
  color: $dg;
  font-size: size(14, 12);
}
.review__bottom {
  margin-top: size(48, 28);
}
.review__quote {
  @include italic;
  font-size: size(28, 18);
  line-height: 1.5em;
}

.review__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  height: 0%;
  transition: height 0.8s $easing;
  background-color: rgba($accent, 0.2);
}

.btn-succes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
