.partners-header {
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    &:first-child {
      &::first-line {
        text-indent: size(248, 0);
      }
    }
  }
}

.partners-header__content-wrapper {
  width: 100%;
  padding-top: var(--ih);
}
.partners-header__line {
  width: 100%;
  height: 1px;
  background: $accent;
}

.partners-header__h1 {
  line-height: 1em;
}

.partners-header__transition-rails {
  margin-top: 0px;
  padding: size(72, 24) 0;
  line-height: 1em;
  .transition-rails__item {
    font-size: size(234, 52);
    line-height: 1em;
    @media screen and (max-height: 760px) and (min-width: 460px) {
      font-size: size(134, 52);
    }
  }
}

.partners-header__text {
  padding: size(72, 24) 0;
}

.partners-header__container {
  .container__cols {
    padding-top: 0px;
  }
}

.partners-header__line-container {
  @include media('<=460px') {
    padding: 0 0;
  }
}

.partners-section {
  .container__cols {
    padding-top: 0px;
    height: 100%;
  }
  .container__r-col {
    height: 100%;
  }
}

.partners-section__line {
  height: 1px;
  width: 100%;
  background: $accent;
}
.partners-section__partners {
  height: 415px;
}
.partners-slider {
}
.partners-slider__ui {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: size(72, 52) 0;
}
.partners-slider__counter {
  @include medium;
  font-size: size(30, 24);
  color: $dg;
}
.partners-slider__nav {
  display: flex;
  align-items: center;
}
.partners-slider__nav-item {
  height: 29px;
  width: 33px;
  cursor: pointer;
  svg {
    display: block;
    height: 100%;
    width: 100%;
    path {
      transition: fill .45s $easing;
    }
  }
  &:hover {
    svg {
      path {
        fill: $accent;
      }
    }
  }
}
.partners-slider__nav-item--left {
  transform: rotate(-180deg);
}
.partners-slider__nav-item--right {
  margin-left: 46px;
}
.partners-slider__slides-wrapper {
  overflow: hidden;
  height: 100%;
  border-left: 1px solid $accent;
  border-right: 1px solid $accent;
}
.partners-slider__slides {
  height: 100%;

  display: flex;
}
.partners-slider__slide {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex: 0 0 100%;
}
.partners-slider__slide-item {
  flex: 0 0 calc(100% / 3);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $accent;
  position: relative;
  svg {
    height: 30px;
    width: 90%;
    display: block;
    path {
      transition: fill .45s $easing;
    }
  }
  &:nth-child(1) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: $accent;
      left: 0;
      bottom: 0;
    }
  }
  &:nth-child(2) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: $accent;
      left: 0;
      bottom: 0;
    }
  }
  &:nth-child(3) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: $accent;
      left: 0;
      bottom: 0;
    }
    border: none;
  }
  &:nth-child(6) {
    border: none;
  }
  &.disabled {
    svg {
      path:not(.white) {
        fill: $accent;
      }
    }
  }
  &.big-svg {
    svg {
      height: 60px;
    }
  }
}
