.dropdown {
  position: relative;
}

.dropdown__btn {
  svg {
    pointer-events: none;
    transition: transform .5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  &.opened {
    color: $accent;
    padding-bottom: 25%;
    svg {
      stroke: $accent !important;
      transform: rotate(-180deg);
    }
  }
}

.dropdown__content {
  position: absolute;
  top: 125%;
  background-color: $black;
  color: white;
  padding: 16px 20px;
  width: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  &.opened {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    .dropdown__link {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.dropdown__link {
  display: block;
  white-space: nowrap;
  width: fit-content;
  margin-left: 0px !important;
  transform: translateY(25px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  + .dropdown__link {
    margin-top: 12px;
  }
}


@for $i from 1 through 3 {
  .dropdown__link:nth-child(#{$i}) {
    transition-delay: #{$i * 0.05 + 's'};
  }
}