.navbar {
  padding: 17px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: white;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease, background .5s ease;
  color: $black;
  font-size: size(16, 14)
}

.navbar__container {
  padding-left: size(60, 20);
  padding-right: size(60, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  svg {
    display: block;
  }
}

.navbar__nav {
  @include media('<=960px') {
    display: none;
    opacity: 0;
  }
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__lang {
  @include media('<=960px') {
    display: none;
  }
  .navbar__link {
    margin-left: 27px;
  }
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.navbar__list-item {
  margin-right: 45px;
  transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  &:last-child {
    margin-right: 0px;
  }
}
.navbar__link {
  @include medium;
  svg {
    transition: transform .5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  &.hovered {
    color: $accent;
    svg {
      fill: $accent;
      transform: rotate(-180deg);
    }
  }
}

.navbar__burger {
  width: 40px;
  cursor: pointer;
  position: absolute;
  right: size(60, 20);
  opacity: 0;
  display: none;
  @include media('<=960px') {
    display: block;
    opacity: 1;
  }
}

.navbar__burger-line {
  height: 2px;
  width: 100%;
  + .navbar__burger-line {
    margin-top: 8px;
  }
  background: $black;
}
