{% include "../partials/_media-tags.html" %}
{% import "../partials/_mixins.html" as mixins %}
<body>
  {% include "../partials/components/_loader.html" %}
  {% include "../partials/components/_navbar.html" %}
  {% include "../partials/components/_menu.html" %}
  <!-- BEGIN content -->
  <div class="site-wrapper custom" data-router-wrapper id="scroll-container">
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}" id="scroller">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  {% include "../partials/svg/_cnt-btn.html" %}
  {% include "../partials/components/_contacts-popup.html" %}
  <div class="transitions-overlay"></div>
  <div class="page-transition">
    <div class="page-transition__item"></div>
    <div class="page-transition__item"></div>
    <div class="page-transition__item"></div>
    <div class="page-transition__item"></div>
  </div>
  <!-- BEGIN scripts -->
  <script src="./js/app.js"></script>
  <!-- END scripts -->

</body>
</html>