.a-h2 {
  opacity: 0;
  transform: translateY(10px);
}

.a-p {
  opacity: 0;
  transform: translateY(40px);
}

.a-line {
  width: 0;
}

.a-btn {
  opacity: 0;
}

.a-item {
  opacity: 0;
  transform: translateY(10px);
}

.a-cancel {
  opacity: 1;
  transform: translate(0);
}

.transition-span {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
  transform: translateY(100%);
}

.transition-text {
  opacity: 0;
}

.transition-other {
  opacity: 0;
}

.word {
  display:flex;
  line-height: 1em;
  overflow: hidden;
}

.char {
  display: inline-block;
}