.a-h2 {
  opacity: 0;
  transform: translateY(10px);
}

.a-p {
  opacity: 0;
  transform: translateY(40px);
}

.a-line {
  width: 0;
}

.a-btn {
  opacity: 0;
}

.a-item {
  opacity: 0;
  transform: translateY(10px);
}

.word {
  display:flex;
  line-height: 1em;
  overflow: hidden;
}

.char {
  display: inline-block;
}