* {
  &::selection {
    color: white;
    background: $accent;
  }
}

// @include media('>=1024px') {
// /* width */
// ::-webkit-scrollbar {
//   width: 6px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba(white, 0.1);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $accent;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: darken($color: $accent, $amount: 10%);
// }
// }

.custom {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

html {
  &.loading {
    background: $black;
    body {
      opacity: 0;
    }
  }
}

body {
  @include reg;
  color: $black;
  line-height: 1.5em;
  font-size: size(20, 16);
  transition: color 0.7s ease;
  &.black {
    color: white;
    main {
      background-color: $black;
    }
    .navbar {
      color: white;
      background: $black;
      svg {
        fill: white;
      }
      .navbar__burger-line {
        background: white;
      }
    }
    .menu {
      color: $black;
    }
    .menu-items__wrapper {
      background: $lg;
      svg {
        stroke: $black;
      }
    }
  }
  &.nav-hidden {
    .navbar {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.e-fixed {
    overflow: hidden;
    .scrollbar:not(.block-scrollbar) {
      display: none;
    }
  }
}

.form-section {
  background: $lg;
  margin-top: size(200, 100);
}

.form-section__container {
  padding-top: 0px;
  padding-bottom: 0px;
  .container__cols {
    padding-top: 0px;
  }
}

.form-section__contacts {
  display: flex;
  height: 100%;
}
.form-section__v-line {
  @include media('>=960px') {
    width: 1px;
    height: 100%;
    background: $accent;
    margin-right: 50px;
  }
}
.form-section__contacts-wrapper {
  margin-top: size(136, 50);
  margin-bottom: size(76, 0);
}
.form-section__contact {
  max-width: 247px;
  + .form-section__contact {
    margin-top: 50px;
  }
}
.form-section__contact-link {
  margin-top: size(16, 12);
  color: $dg;
  display: block;
  transition: color 0.3s ease;
  font-size: size(18, 16);
  @include medium;
  + .form-section__contact-link {
    margin-top: size(10, 8);
  }
}

a.form-section__contact-link {
  &:hover {
    color: $accent;
  }
}

.form-section__right {
  display: flex;
  height: 100%;
}

.form-section__right-content {
  padding-top: size(136, 50);
  padding-bottom: 76px;
}

.form-section__form-wrapper {
  margin-top: size(80, 50);
}

main {
  transition: background-color 0.7s ease;
  background-color: white;
  position: relative;
  z-index: 1;
}

.sticky-wrapper {
  position: relative;
}


.transitions-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}