* {
  &::selection {
    color: white;
    background: $accent;
  }
}

body {
  @include reg;
  color: $black;
  line-height: 1.5em;
  font-size: size(20, 16);
  transition: color .7s ease;
  &.black {
    color: white;
    main {
      background-color: $black;
    }
  }
}


.form-section {
  background: $lg;
  margin-top: size(200, 100);
}

.form-section__container {
  padding-top: 0px;
  padding-bottom: 0px;
  .container__cols {
    padding-top: 0px;
  }
}

.form-section__contacts {
  display: flex;
  height: 100%;
}
.form-section__v-line {
  width: 1px;
  height: 100%;
  background: $accent;
  margin-right: 50px;
}
.form-section__contacts-wrapper {
  padding-top: size(136, 50)
}
.form-section__contact {
  max-width: 247px;
  +.form-section__contact {
    margin-top: 50px;
  }
}
.form-section__contact-link {
  margin-top: size(16, 12);
  color: $dg;
  display: block;
  transition: color .3s ease;
  @include medium;
  &:hover {
    color: $accent;
  }
  +.form-section__contact-link {
    margin-top: size(10, 8);
  }
}

.form-section__right {
  display: flex;
  height: 100%;
}

.form-section__right-content {
  padding-top: size(136, 50);
  padding-bottom: 76px;
}

.form-section__form-wrapper {
  margin-top: size(80, 50);
}

main {
  transition: background-color .7s ease;
  background-color: white;
  position: relative;
  z-index: 1;
}