* {
  &::selection {
    color: white;
    background-color: $accent;
  }
}

.custom {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

html {
  &.loading {
    background-color: $black;
    body {
      opacity: 0;
    }
  }
}
* {
  touch-action: pan-y pan-x;
}

#scroll-container {
  height: calc( var(--vh, 1vh) * 100);
  overflow: auto;
  width: 100vw;
}

body {
  @include reg;
  color: $black;
  position: fixed;
  overflow: hidden !important;
  height: calc( var(--vh, 1vh) * 100);
  line-height: 1.5em;
  font-size: size(20, 16);
  transition: color 0.7s ease;
  &.black {
    color: white;
    main {
      background-color: $black;
    }
    .navbar {
      color: white;
      background-color: $black;
      svg {
        fill: white;
      }
      .navbar__burger-line {
        background-color: white;
      }
      .navbar__logo {
        #main {
          fill: white
        }
      }
    }
    .menu {
      color: $black;
    }
    .menu-items__wrapper {
      background-color: $lg;
      svg {
        stroke: $black;
      }
    }
    .menu__dropdown-content {
      background-color: $black;
      color: white;
    }
    .v-list-section__h {
      color: #C4C4C4;
    }
  }
  &.nav-hidden {
    .navbar {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.e-fixed {
    overflow: hidden;
    overflow-x: auto;
    .scrollbar:not(.block-scrollbar) {
      display: none;
    }
    #scroll-container {
      overflow: hidden;
      overflow-x: auto;
    }
  }
}

.form-section {
  background-color: $lg;
  margin-top: size(200, 100);
}

.form-section__container {
  padding-top: 0px;
  padding-bottom: 0px;
  .container__cols {
    padding-top: 0px;
  }
}

.form-section__contacts {
  display: flex;
  height: 100%;
}
.form-section__v-line {
  @include media('>=960px') {
    width: 1px;
    height: 100%;
    background-color: $accent;
    margin-right: 50px;
  }
}
.form-section__contacts-wrapper {
  margin-top: size(136, 50);
  margin-bottom: size(76, 0);
}
.form-section__contact {
  max-width: 247px;
  + .form-section__contact {
    margin-top: size(50, 32);
  }
}
.form-section__contact-link {
  margin-top: size(16, 12);
  color: $dg;
  display: block;
  transition: color 0.3s ease;
  font-size: size(18, 16);
  @include medium;
  + .form-section__contact-link {
    margin-top: size(10, 8);
  }
}

a.form-section__contact-link {
  &:hover {
    color: $accent;
  }
}

.form-section__right {
  display: flex;
  height: 100%;
}

.form-section__right-content {
  padding-top: size(136, 50);
  padding-bottom: 76px;
}

.form-section__form-wrapper {
  margin-top: size(80, 50);
}

main {
  transition: background-color 0.7s ease;
  background-color: white;
  position: relative;
  z-index: 1;
}

.sticky-wrapper {
  position: relative;
}


.transitions-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
  overflow: hidden;
}

.page-transition__item {
  width: 100%;
  height: calc(100vh / 4);
  background-color: $black;
  transform: translateX(-100%);
}

[data-bg] {
  background-color: $dg;
}

header, main {
  position: relative;
  z-index: 1;
}